<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Title }}: 将棋びぎなーず">
    <title>{{ .Title }}: 将棋びぎなーず</title>
    <meta property="og:title" content="{{ .Title }}: 将棋びぎなーず">
    <meta property="og:site_name" content="将棋びぎなーず">
    <meta property="og:description" content="{{ .Title }}: 将棋びぎなーず">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://marmooo.github.io/shogi-beginners/">
    <meta property="og:image" content="https://marmooo.github.io/shogi-beginners/favicon/apple-touch-icon.png">
    {{ partial "head.html" }}
    <style>
      button { touch-action: manipulation; }
      html[data-theme="dark"] { filter: invert(1) hue-rotate(180deg) }
      @-moz-document url-prefix() { html[data-theme="dark"] { background-color:black; } }
    </style>
    <script data-ad-client="ca-pub-6459713332128733" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    {{ partial "navbar.html" }}
    <main class="container">
      <noscript>
        <div class="alert alert-warning">JavaScript を ON にしてください</div>
      </noscript>
      {{ .Content }}
    </main>
    <footer class="pt-4 alert text-center">
      <div class="pt-3">
        <a class="px-1" href="/">Home</a>
        <a class="px-1" href="/terms/">Terms</a>
        <a class="px-1" href="https://github.com/marmooo/shogi-beginners">Contact</a>
      </div>
      <div class="text-muted">&copy; <a href="https://github.com/marmooo">marmooo</a></div>
    </footer>
    <script src="/shogi-beginners/kifu-viewer.min.js"></script>
    <script src="/shogi-beginners/index.min.js"></script>
    <script>
      ['example'].forEach(komawari => {
        new KifuViewer(document.getElementById(komawari), {
          keybinds: window,
          comment: document.getElementById('comment'),
          onMove: () => {
            if (localStorage.getItem('voice') == 1) {
              speak();
            }
          },
        }).loadString(document.getElementById(komawari + '-kif').textContent);
      });

      function speak() {
        const text = getText(document.getElementById('comment'));
        let msg = new SpeechSynthesisUtterance(text);
        msg.lang = 'ja-JP';
        msg.voice = japaneseVoices[Math.floor(Math.random() * japaneseVoices.length)];
        speechSynthesis.cancel();
        speechSynthesis.speak(msg);
      }
    </script>
  </body>
</html>
